<app-header (click)="toggleLanguage()"></app-header>
<nz-layout>
  <nz-content>
    <div class="main-container">
      <!-- Left Column (Contact, About, Experience) -->
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
          <app-contact [language]="language"></app-contact>
          <app-about [language]="language"></app-about>
          <app-experience></app-experience>
        </div>

        <!-- Right Column (Education) -->
        <div nz-col nzSpan="9">
          <app-education></app-education>
          <app-skills></app-skills>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
