<div class="skills-container">
  <h2>Skills</h2>
  <p class="about-skills">
    I have experience in a variety of technologies, ranging from front-end
    development with Angular to cloud services using AWS. I continuously strive
    to enhance my skills to stay up-to-date with the latest industry trends.
  </p>

  <div *ngFor="let skill of skills" class="skill">
    <div class="skill-name">{{ skill.name }}</div>
    <div class="skill-description">
      <p>{{ skill.description }}</p>
    </div>
  </div>
</div>
